<div class="navbar">
  <a class="home-link" href="/">Home</a>
  <a class="instruments-link" href="/instruments">Instruments</a>
   <a class="accessories-link" href="/accessories">Accessories</a>
</div>
