<div class="navbar">
  <a href="/" class="home">Home</a>
  <a href="/categories">Categories</a>
  <% if (categories && categories.length > 0) { %>
    <% categories.forEach(category => { %>
      <a href="/items/<%= category.categoryname.toLowerCase() %>">
        <%= category.categoryname %>
      </a>
    <% }) %>
  <% } %>
  <a href="/items/new">Add New Item</a>
</div>