<div class="navbar">
  <a href="/" class="link">Home</a>
  <a href="/categories" class="link">Categories</a>
  <% if (categories && categories.length > 0) { %>
    <% categories.forEach(category => { %>
      <a href="/items/<%= category.categoryname.toLowerCase() %>" class="link">
        <%= category.categoryname %>
      </a>
    <% }) %>
  <% } %>
  <a href="/items/new" class="link">Add New Item</a>
</div>