* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(208, 230, 238);
}

button {
    cursor: pointer;
    background-color: rgb(5, 5, 202);
    border: none;
    color: white;
    padding: 0.3em;
    border-radius: 1em;
    transition: 0.3s;
}

button:hover, .edit:hover {
    background-color: rgb(8, 8, 122);
}

button:active, .edit:active {
    background-color: rgb(3, 3, 65);
}

.items-container {
    display: grid;
    justify-items: center;

}

.main {
    margin: 1em;
    padding: 0.5em;
    width: 50%;
    text-align: center;
    border-radius: 0.5em;
}

h1 {
    text-align: center;
}

.main {
    background-color: rgb(119, 206, 235);
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 0.5em;
}

.link {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.link:hover {
    color: rgb(187, 187, 187); 
}

.link:active {
    color: rgb(119, 119, 119);
}

.edit {
    background-color: rgb(5, 5, 202);
    text-decoration: none;
    color: white;
    padding: 0.3em;
    border-radius: 1em;
}